<table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
  <thead>
    <tr>
      <th>Bar Code</th>
      <th>Manufacturer</th>
      <th>Model Number</th>
      <th>Building</th>
      <th>Room No</th>
      <th>Quantity</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of data">
      <td>{{item.id}}</td>
      <td>{{item.title}}</td>
      <td>{{item.id}}</td>
      <td>{{item.id}}</td>
      <td>{{item.id}}</td>
      <td>{{item.id}}</td>
    </tr>
  </tbody>
</table>